node_modules
/dist

/tests/e2e/reports/
/tests/e2e/screenshots/
/tests/e2e/videos/

selenium-debug.log

# local asset build
release.tar.gz

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

# json-server files
db.json
routes.json

# coverage
coverage

# talisman
.talismanrc

# We build the style programatically, so we'll add it to th .gitignore to
# avoid uneccessary noise
/src/styles/index.css
# Ignore the build stats file
/stats.html
.DS_Store

# vscode
.vscode

# jsdoc documentation
/docs
