/* Import Tailwind's base styles from ui-styling package. Optional if you don't want to use them.**/
@tailwind base;

svg.logo {
    width: 300px;
    height: 300px;
}

/* Animations */
svg.logo.loading rect {
    animation: sm-pulse;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 0.6s;
}

svg.logo.loading rect:nth-child(odd) {
    animation-delay: 0.6s;
}

svg.logo.loading rect:nth-child(3n+1) {
    animation-delay: 0.3s;
}

@keyframes sm-pulse {
    from {
        opacity: 1
    }
    to {
        opacity: 0.5;
    }
}

@tailwind components;
@tailwind utilities;

/* Define your custom styles */
.success-message {
  @apply bg-success-light text-success-dark hover:bg-success;
}
.success-icon {
  @apply text-success-dark hover:text-success-light;
}
.failure-message {
  @apply bg-failure-light text-failure-dark hover:bg-failure;
}
.failure-icon {
  @apply text-failure-dark hover:text-failure-light;
}
.warning-message {
  @apply bg-warning-light text-warning-dark hover:bg-warning;
}
.warning-icon {
  @apply text-warning-dark hover:text-warning-light;
}
