/* Import Tailwind's base styles from ui-styling package. Optional if you don't want to use them.**/
@import '../../node_modules/@sanger/ui-styling/tailwind.css';

/* Define your custom styles */
.success-message {
  @apply bg-success-light text-success-dark hover:bg-success;
}
.success-icon {
  @apply text-success-dark hover:text-success-light;
}
.failure-message {
  @apply bg-failure-light text-failure-dark hover:bg-failure;
}
.failure-icon {
  @apply text-failure-dark hover:text-failure-light;
}
.warning-message {
  @apply bg-warning-light text-warning-dark hover:bg-warning;
}
.warning-icon {
  @apply text-warning-dark hover:text-warning-light;
}
@theme {
  --text-xxs: 0.6rem;
  --color-custom-pink: oklch(68.78% 0.1797 1.96);
  --shadow-custom-pink: 6px 6px 0 0 var(--color-custom-pink);
}

input[type='file']::file-selector-button {
  background-color: oklch(94.61% 0 0);
  cursor: pointer; /* cursor-pointer */
}
