# Triggered on dispatching the action
# Automated releases handle asset creation in automated_release.yml
name: Asset - on dispatch; build and publish

on:
  workflow_dispatch:
    inputs:
      image_tag:
        description: Asset Name
        required: true
        default: x.y.z-uat.1

jobs:
  build_and_release:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Export node version
        id: node_version
        run: echo ::set-output name=NODE_VERSION::$(cat .nvmrc)
      - name: Setup node
        uses: actions/setup-node@v2
        with:
          node-version: ${{ steps.node_version.outputs.NODE_VERSION }}
          cache: 'npm'

      - name: Install dependencies
        run: >-
          npm ci

      - name: Compile build
        run: >-
          ./compile-build.sh release.tar.gz dist

      - name: Create release and upload release.tar.gz
        uses: ncipollo/release-action@v1.8.8
        with:
          name: ${{ github.event.inputs.image_tag }}
          tag: v${{ github.event.inputs.image_tag }}
          prerelease: true
          commit: ${{ github.sha }}
          artifacts: release.tar.gz
          artifactErrorsFailBuild: true
